<h1>URL Shortener</h1>
<p>Get your short url on!</p>

<form action="/long_url" method="POST">
	<label for="url">Enter the url:</label>
	<input type="textfield" id="url" placeholder="Enter url address">
	<button value="submit">Short URL</button>
</form>